

.cabecalho {


background: rgb(184, 184, 196);

border: 1px solid;

text-align: center; 



}

.navegacao {

    background: rgb(137, 137, 141);

    border: 1px solid;
    
    text-align: center; 



}
