

.cabecalho {


background: rgb(184, 184, 196);

border: 1px solid;

text-align: center; 



}

.navegacao {

    background: rgb(137, 137, 141);

    border: 1px solid;
    
    text-align: center; 



}


.artigo {

    background: rgb(43, 43, 48);
    border: 1px solid;    
    text-align: center;
    width: 50%;    
    height: 600px;
   

}

.sessao {

    background: rgb(137, 137, 141);
    border: 1px solid;    
    text-align: center; 
    height: 500px;


}